# Week 1 ‚Äì Day 1: Python Foundations

## Objective
To build a strong foundation in core Python concepts required for Data Analysis.

## Topics Covered
- Variables
- Data Types
- Type Conversion
- User Input
- f-Strings
- Arithmetic Operations
- Conditional Statements
- Logical Operators
- String Operations

## Mini Projects
1. Basic Calculator
2. Grade Calculator
3. Scholarship Eligibility Checker

In [ ]:
print("Hello Shravya,Data Analyst Journey Begins")

Hello Shravya,Data Analyst Journey Begins

## Variables and Data Types

In [ ]:
name="Shravya"
branch="CSE(DS)"
cgpa=9.23

print(name)
print(branch)
print(cgpa)

Shravya
CSE(DS)
9.23

In [ ]:
print(type(name))
print(type(branch))
print(type(cgpa))

<class 'str'>
<class 'str'>
<class 'float'>

In [ ]:
name=input("Enter your name:")
age=input("Enter your age:")
print(name)
print(age)

Enter your name:Shravya
Enter your age:20
Shravya
20

In [ ]:
print(type(age))

<class 'str'>

Here,age is stored as string..If age is stored as string:

We cannot calculate average, cannot add numbers ,cannot compare properly ,So we must convert it.

## User Input and Type Conversion

In [ ]:
age=int(input("Enter your age:"))
print(type(age))

Enter your age:20
<class 'int'>

In [ ]:
float("10")

10.0

In [ ]:
str(25)

'25'

f-strings

In [ ]:
Name="Shravya"
age=20
print(f"My name is {Name} and I am {age} year Old")

My name is Shravya and I am 20 year Old

In [ ]:
name=input("Enter Your Name:")
Marks=int(input("Enter Your Marks:"))
print(f"{name} scored {Marks} marks in Exam")

Enter Your Name:Shravya
Enter Your Marks:95
Shravya scored 95 marks in Exam

## Mini Project1 ‚Äì Basic Calculator

Write a program that:

1Ô∏è‚É£ Takes 2 numbers from user

2Ô∏è‚É£ Prints:

Sum

Difference

Product

Division

Use f-strings for printing.

In [ ]:
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

total = a + b
difference = a - b
product = a * b
division = a / b

print(f"""
Results:
Sum = {total}
Difference = {difference}
Product = {product}
Quotient = {division}
""")

Enter First Number: 2
Enter Second Number: 3

Results:
Sum = 5
Difference = -1
Product = 6
Quotient = 0.6666666666666666

## Conditional Statements

## Mini Project2 ‚Äì Grade Calculator

DAY 1 MINI PROJECT

Build this:

üìå Simple Grade Calculator

Program should:

1Ô∏è‚É£ Take student name
2Ô∏è‚É£ Take 3 subject marks
3Ô∏è‚É£ Calculate average
4Ô∏è‚É£ Print:

Shravya scored average 85.6
Grade: A

Grading logic:

90+ ‚Üí A+

80‚Äì89 ‚Üí A

70‚Äì79 ‚Üí B

60‚Äì69 ‚Üí C

Below 60 ‚Üí Fail

In [ ]:
student_name=input("Enter the Student Name:")
sub_1=int(input("Enter the Marks Obtained in Maths:"))
sub_2=int(input("Enter the Marks Obtained in Physics:"))
sub_3=int(input("Enterthe Marks Obtained in Chemistry:"))

average=(sub_1+sub_2+sub_3)/3
print(f"{student_name} scored average {average:.2f}")
if average>=90:
  print("Grade:A+")
elif average>=80:
  print("Grade:A")
elif average>=70:
  print("Grade:B")
elif average>=60:
  print("Grade:C")
else:
  print("Fail")

Enter the Student Name:Shravya
Enter the Marks Obtained in Maths:90
Enter the Marks Obtained in Physics:84
Enterthe Marks Obtained in Chemistry:83
Shravya scored average 85.67
Grade:A

##String Operations

In [ ]:
name="Shravya G Naik"
print(name.upper())

SHRAVYA G NAIK

In [ ]:
print(name.lower())

shravya g naik

In [ ]:
print(name.title())

Shravya G Naik

In [ ]:
print(len(name))

14

In [ ]:
name.capitalize()

'Shravya g naik'

##String Indexing & Slicing

In [ ]:
text='DataAnalysis'
print(text[0])

D

In [ ]:
print(text[0:4])

Data

In [ ]:
print(text[-1])

s

In [ ]:
print(text[-5:-1])

lysi

In [ ]:
print(text[4:])

Analysis

##Logical Operators

In [ ]:
age=21

print(age>18 and age<25)

True

In [ ]:
print(age>30 and age<25)

False

In [ ]:
print(not(age>18))

False

##Mini Project3 ‚Äì Scholarship eligibility Checker

Build this:

üìå Smart Eligibility Checker

Program should:

1Ô∏è‚É£ Take name
2Ô∏è‚É£ Take age
3Ô∏è‚É£ Take percentage

Conditions:

If age ‚â• 18 AND percentage ‚â• 60
‚Üí "Eligible for Scholarship"

If age ‚â• 18 AND percentage < 60
‚Üí "Not eligible due to low percentage"

If age < 18
‚Üí "Not eligible due to age"

Use:

input

int

float

and

if-elif-else

f-strings

In [ ]:
name = input("Enter your Name: ")
age = int(input("Enter your age: "))
percentage = float(input("Enter your percentage: "))

if age >= 18 and percentage >= 60:
    print(f"{name}, Eligible for Scholarship")

elif age >= 18 and percentage < 60:
    print(f"{name}, Not eligible due to low percentage")

else:
    print(f"{name}, Not eligible due to age")

Enter your Name: Shravya
Enter your age: 20
Enter your percentage: 70
Shravya, Eligible for Scholarship